<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="translate.CommTrsParameterMapper">
  <resultMap id="BaseResultMap" type="com.linewell.license.platform.common.translate.service.pojo.CommTrsParameter">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="code" jdbcType="VARCHAR" property="code" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="id" jdbcType="BIGINT" property="id" />
  </resultMap>
  <sql id="Base_Column_List">
    code, language, value, type, id
  </sql>


  <select id="findCommTrsParametersByCodes" resultType="BaseResultMap">
    select * from comm_trs_parameter where 1=1
        <choose>
          <when test="paramcodes != null and paramcodes.size()>0">
                and code in
                <foreach collection="paramcodes" item="item" index="index" open="(" separator="," close=")">
                  #{item}
                </foreach>
                and language=#{language}
          </when>
          <otherwise>
                 and  1=2
          </otherwise>
        </choose>
  </select>
</mapper>