<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linewell.license.platform.common.translate.service.dao.CommTrsMessageMapper">
  <resultMap id="BaseResultMap" type="com.linewell.license.platform.common.translate.service.pojo.CommTrsMessage">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="code" jdbcType="VARCHAR" property="code" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="msg_template" jdbcType="VARCHAR" property="msgTemplate" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="id" jdbcType="BIGINT" property="id" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    code, language, msg_template, type, id
  </sql>
</mapper>